/* hero section css start */
.hero-section {
    padding: 36px 0 80px;
    margin: 64px 0 0 0;
    background-image: url("../images/hero-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    width: 50%;
}

.hero-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
}

.hero-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    max-width: 500px;
    width: 100%;
    text-transform: capitalize;
}

.hero-heading em {
    font-style: normal;
    color: var(--brand-color);
}

.hero-text {
    margin: 66px 0 0 0;
    font-size: 18px;
    line-height: 28px;
    max-width: 598px;
}

.hero-btm-text {
    margin: 66px 0 0 0;
}

.hero-rattings {
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero-rattings .icon {
    display: flex;
}

.hero-rattings .rattings-text {
    color: var(--black);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.hero-btn {
    margin: 24px 0 0 0;
    display: flex;
}

.hero-btn-text {
    margin: 14px 0 0 0;
    display: flex;
    gap: 8px;
}

.hero-btn-text p {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-muted);
}

.hero-img {
    width: 50%;
}

.hero-img img {
    object-fit: contain;
    margin: 0 auto;
    width: auto;
    height: auto;
}

/* hero section css end */

@media only screen and (max-width:992px) {

    /* hero section css start */
    .hero-section {
        padding: 36px 0 0;
        margin: 52px 0 0 0;
    }

    .hero-wrapper {
        flex-wrap: wrap;
        gap: 40px;
    }

    .hero-content {
        width: 100%;
        text-align: center;
    }

    .hero-heading {
        max-width: 100%;
    }

    .hero-text {
        margin: 35px 0 0 0;
        max-width: 100%;
    }

    .hero-btm-text {
        margin: 35px 0 0 0;
    }

    .hero-rattings {
        justify-content: center;
    }

    .hero-btn {
        margin: 16px 0 0 0;
        justify-content: center;
    }

    .hero-btn-text {
        margin: 10px 0 0 0;
        justify-content: center;
    }

    .hero-img {
        width: 100%;
    }

    /* hero section css end */
}

@media only screen and (max-width: 767px) {

    /* hero section css start */
    .hero-heading {
        font-size: 38px;
    }
    /* hero section css end */
}

@media only screen and (max-width: 575px) {

    /* hero section css start */
    .hero-section {
        padding: 32px 0 0;
    }

    .hero-heading {
        font-size: 30px;
        line-height: 38px;
    }

    .hero-text {
        font-size: 16px;
        line-height: 24px;
    }

    .hero-img img {
        width: 250px;
    }

    /* hero section css end */
}